@import '../../../styles/customMediaQueries.css';

.tabs {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 12px 24px 0 24px;

  @media (--viewportMedium) {
    flex-direction: column;
    overflow-x: visible;
    padding: 24px 0 0 0;
  }
}

.tab {
  margin-left: 16px;

  &:first-child {
    margin-left: 0;
  }

  @media (--viewportMedium) {
    margin-left: 0;
  }
}
