@import '../../styles/customMediaQueries.css';

.root {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;

  @media (--viewportSmall) {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}
