@import '../../styles/customMediaQueries.css';

.root {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 0 24px 0;
}

.pill {
  composes: marketplaceTinyFontStyles from global;
  padding: 6px 16px;
  border: 1px solid var(--colorGrey100);
  border-radius: 100px;
  color: var(--colorGrey700);
  text-decoration: none;

  &:hover {
    border-color: var(--marketplaceColor);
    text-decoration: none;
  }
}

.pillSelected {
  composes: pill;
  border-color: var(--marketplaceColor);
  background-color: var(--marketplaceColor);
  color: var(--colorWhite);
}
